{% extends "tasks/layout.html"%}

{% block body %}
   <div class="container" style="width: 30%; display: block; margin: 10px auto;">
    <h1> Add Your Tasks here</h1>
    <form action="{% url 'tasks:added'%}" method="post">
        {%csrf_token%}
        <input type="text" name="task" style="padding: 10px; text-align: center;">
        <input type="submit" value="Add" name="submit" style="padding: 10px; font:bolder;">
    </form>
    <a href="{% url 'tasks:index'%}">View Tasks</a>
   </div>
{% endblock %}
